.jacquard-12-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}
body{
  font-family: "Source Code Pro", monospace;
  color: #03fc88;
  background-color: #4d4d4d;
}
a{
  color: #03fc88;
}